@import 'variables.scss';

.about-song {
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: solid 1px #ecf0f1;

  .singer-photo {
    display: inline-block;
    position: absolute;
    width: 48px;
    height: 48px;
    margin-top: -1%;
    border-radius: 50%;

    @media screen and (min-width: 2560px){
      margin-top: 0;
    }
  }

  .subscribe-button {
    position: relative;
    width: 146px;
    height: 36px;
    float: right;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    background-color: red;
    color: white;
  }

  .description {
    width: 75%;;
    height: 100%;
    margin-left: 7.5%;
    margin-top: 3%;
    font-size: 14px;

    a {
      text-decoration: none;
      color: black;
    }

    .official-video {
      display: inline-block;
    }

    .fulltext {
      display: block;
      margin-top: -2%;
      margin-bottom: 20px;

      a {
        color: $blue;
        text-decoration: none;
      }
      
      .category {
        display: inline-block;
        width: 23%;
      }

      .music {
        display: inline-block;
      }

      .music-in-this-video {
        border-top: 1px solid #ecf0f1;
        margin-top: 5px;
        padding-top: 15px;
      }
    
      .learn-more {
        display: inline-block;
        width: 24%;
        margin-bottom: 30px;
      }

      .titles {
        position: absolute;
        display: inline-block;
        width: 50%;

        @media screen and (min-width: 1024px){
          width: 45%;
        }

        @media screen and (min-width: 1440px) {
          width: 35%;
        }

        @media screen and (min-width: 2560px) {
          width: 20%;
        }
      } // end of titles

      p,
      span,
      .less {
        display: none;
      }

      &:target p,
      &:target span,
      &:target .less {
        display: block;
      }

      &:target .more {
        display: none;
      }
    } // end of fulltext

    @media screen and (min-width: 1024px){
      width: 90%;
      margin-left: 10%;
    }

    @media screen and (min-width: 1440px){
      width: 76%;
      margin-left: 7.5%;
    }

    @media screen and (min-width: 2560px) {
      width: 50%;
    }
  } // end of description

  @media screen and (min-width: 1024px){
    width: 97%;
  }
} // end of about-song
