@import 'variables.scss';

.about-video {
  width: 85%;
  height: 100%;
  margin: 0 auto;

  .title {
    font-size: 20px;

    @media screen and (min-width: 1024px) {
      font-size: 17px;
    }
  }

  .content {
    border-bottom: solid 1px #ecf0f1;
    width: 98%;
    height: 100%;

    .number-of-views {
      display: inline-block;
      margin-top: 0;
      font-family: Arial;
      font-size: 16px;
      color: #696969;
    }

    .view-icons {
      float: right;
      font-size: 18px;

      .like, 
      .dislike, 
      .share, 
      .add-to, 
      .settings {
        padding: 10px;
        color: $dark-grey;
      }

      span.views {
        display: inline-block;
        padding: 0 5px;
        font-family: $primary-ff;
        font-size: 14px;
        color: $medium-grey;  
      }

      .line {
        display: inline-block;
        height: 33px;
        border-bottom: 2px solid #1E90FF;
      }
    }
  }

  .subscribe-button {
    position: absolute;
    width: 146px;
    height: 36px;
    margin-top: 20px;
    left: 77.5%;
    border: none;
    border-radius: 2px;
    font-family: $primary-ff;
    font-size: 14px;
    background-color: red;
    color: white;

    @media screen and (min-width: 1024px) {
      left: 74.5%;
    }
  }

  @media screen and (min-width: 1024px) {
    position: relative;
    width: 100%;
    margin: 0;
   }
}


