@import 'variables.scss';

.about-song {
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #ecf0f1;

  .singer-photo {
    display: inline-block;
    position: absolute;
    width: 48px;
    height: 48px;
    margin-top: 15px;
    border-radius: 50%;
  }

  .subscribe-button {
    position: relative;
    width: 146px;
    height: 36px;
    float: right;
    margin-top: 20px;
    border: none;
    border-radius: 2px;
    font-family: $primary-ff;
    font-size: 14px;
    background-color: red;
    color: white;
  }

  .description {
    position: relative;
    display: inline-block;
    height: 100%;
    left: 7%;
    top: 20px;
    font-family: $primary-ff;
    font-size: 14px;

    .profil {
      margin-bottom: 0;
      font-weight: 600;

      a {
        text-decoration: none;
        color: black;
      }
    }

    .date {
      color: grey;
    }

    .author {
     line-height: 60px;
    }

    .fulltext {
      display: block;
      width: 76%;
      margin-bottom: 40px;

      .licensing {
        margin-top: -2%;
      }

      .album-online {
        a {
          color: blue;
          text-decoration: none;
        }
      }

      .inna-online, .global-records {
        margin-bottom: 0;
        
        a {
          color: blue;
          text-decoration: none;
        }
      }

      p#text {
        margin-top: 30px;
      }

      p#list {
        border-bottom: 1px solid #ecf0f1;
        padding-bottom: 15px;

        .category {
          display: inline-block;
          color: grey;
        }

        .music {
          display: inline-block;
          margin-left: 63px;
          color: blue;
        }

        .standard-license {
          display: inline-block;
          margin-left: 74px;
          font-weight: bold;
        }

        .license {
          display: inline-block;
          color: grey;
        }
      }

      .music-in-this-video {
        .song {
          display: inline-block;
          color: grey;
        }

        .song-name {
          display: inline-block;
          margin-left: 93px;
          font-weight: bold;
        }

        .artist {
          display: inline-block;
          color: grey;
        }

        .artist-name {
          display: inline-block;
          margin: 10px 0 10px 91px;
          color: blue;
        }

        .album {
          display: inline-block;
          color: grey;
        }

        .album-name {
          display: inline-block;
          margin-left: 83px;
          font-weight: bold;
        }

        .licensed-by {
          display: inline-block;
          color: grey;
        }
      }

      .license-text {
        display: inline-block;
        width: 79%;
        margin-left: 45px;
        font-size: 13px;
        font-weight: bold;
      }
      
      ul {
        margin-top: 0;
        padding-left: 0;

        li {
          list-style-type: none;
        }
      }
    }

    @media screen and (min-width: 1024px){
      width: 90%;
      margin-top: -7%;
      margin-left: 2%;
    }

    @media screen and (min-width: 1440px){
      margin-top: -5%;
      margin-left: 0.5%;
    }

    @media screen and (min-width: 2560px) {
      margin-left: -1.5%;
      padding-top: 1.5%;
    }
  } // end of description

  .fulltext p,
  .fulltext span,
  .less {
    display: none;
  }

  .fulltext:target p,
  .fulltext:target span,
  .fulltext:target .less {
    display: block;
  }

  .fulltext:target .more {
    display: none;
  }

  .more, .less {
    text-decoration: none;
    color: grey;
    font-weight: bold;
  }

  @media screen and (min-width: 1024px){
    width: 97%;
  }
} // end of about-song
