@import 'variables.scss';

aside {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  margin-top: 23px;
  font-family: Roboto, Arial, sans-serif;

  @media screen and (min-width: 1024px) {
    position: absolute;
    display: inline-block;
    width:37%;
    height: 100%;
    margin-top: 20px;
  }

  @media screen and (min-width: 1440px) {
    width: 28%;
  }

  @media screen and (min-width: 2560px) {
    width: 15%;
  }

  .up-next {
    display: inline-block;
    margin-top: 0;
  }

  .autoplay {
    float: right;
    color: $dark-grey;
    font-size: 13px;
    font-weight: bold;
    margin: 0;

    .autoplay-icon {
      font-size: 20px;
      padding: 0 15px;
      color: 	#0000ff;
    }
  }

  .thumbnails {
    
    img {
      width: 168px;
      height: 94px;
    }

    p {
      position: absolute;
      display: inline-block;
      margin: 0 0 0 10px;
    }

    .first-suggestion {
      padding-bottom: 15px;
      border-bottom: 1px solid #ecf0f1;
    }

    .suggestion {
      margin: 10px 0;
    }

    .show-more {
      width: 100%;
      height: 30px;

      .more-btn {
        width: 100%;
        height: 100%;
        border: none;
        font-size: 13px;
        background-color: #ecf0f1;
        color: grey;
      }
    } // end of show-more
  } // end of thumbnails
} // end of aside
