@import 'variables.scss';

.comments {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  font-family: $primary-ff;

  .number-of-comments {
    font-size: 16px;
    margin: 25px 0 30px 0;
    
    .sort {
      position: relative;
      display: inline-block;
      left: 5%;
      font-family: $primary-ff;
      color: grey;

      .sort-by {
        font-size: 14px;
        margin-left: 6px;
      }
    }
  } // end of number-of-comments

  .all-comments {
   
    .visitor-photo {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    .add-comment {
      position: relative;
      width: 94%;
      margin-top: 15px;

      p {
        position: absolute;
        top: -25%;
        left: 6%;
        display: inline-block;
        width: 100%;
        font-size: 14px;
        color: grey;
        padding-bottom: 5px;
        border-bottom: 1px solid #ecf0f1;

        @media screen and (min-width: 1024px){
          width: 102%;
        }
  
        @media screen and (min-width: 1440px){
          width: 111%;
        }
  
        @media screen and (min-width: 2560px){
          width: 118%;
        }
      }
    } // end of add-comment
  } // end of all-comments

  .listener-comment {
    position: relative;

    .about-listener {

      .description {
        position: relative;
        left: 6%;
        margin-bottom: 1%;

        @media screen and (min-width: 1024px) {
          left: 10%;
        }
      }

      .visitor-photo {
        position: absolute;
      }

      .listener-name {
        font-size: 13px;
        font-weight: 600;
        color: #333333;
      }

      .time-of-post {
        display: inline-block;
        font-size: 13px;
        font-weight: 400;
        color: grey;
        margin-left: 10px;
      }

      .comment {
        font-size: 14px;
        font-weight: 400;
        line-height: 2rem;
      }

      .all-replies {
        font-size: 14px;
        font-weight: 600;
        line-height: 3rem;
        color: #333333;
      }

      .icons {
        margin-bottom: -2%;

        a {
          color: #A9A9A9;
          text-decoration: none;
        }

        .fa-thumbs-up,
        .fa-thumbs-down {
          font-size: 14px;
        }

        .likes,
        .dislikes {
          padding: 10px;
          font-size: 13px;
          color: grey;
        }

        .dislikes {
          padding-left: 25px;
          color: #404040;
        }
      } // end of icons
    } // end of about-listener
  } // end of listener-comment

  @media screen and (min-width: 1024px) {
    width: 60%;
    margin-left: 0;
  }
} // end of comment
