.youtube-video {
  position: relative;
  display: block;
  width: 90%;
  height: 500px;
  margin: 0 auto;
  margin-top: 15px;

  @media screen and (min-width: 1024px) {
    display: inline-block;
    width: 60%;
    height: 360px;
  }

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    @media screen and (min-width: 1439px) {
      // width: 80%;
      // padding-left: 15%;
    }
  }
}

// .youtube-video iframe {
//   /* margin-top: 25px;
//   position: relative;
//   left: 33%; */

//   width: 90%;
//   margin: 0 auto;
//   padding-left: 5%;
//   padding-right: 5%;
//   padding-top: 20px;
// }
