@import 'variables.scss'; 

main {
  width: 100%;
  height: 100%;

  @media screen and (min-width: 1044px) {
    width: 90%;
    margin: 0 auto;
  }

  @media screen and (min-width: 2560px) {
    width: 50%;
  }
}
